body{
    font-family: 'Nunito Sans';
}
a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}
h5{
    font-weight: 700
}
.navbar-brand img {
    width: 120px;
}

.heading-3 h3 {
    font-family: 'Nunito Sans';
    position: relative;
    font-weight: 700
}
.space{
    padding: 80px 0 0px
}
h5 a {
    color: #ffa81d;
    text-decoration: none;

}
a:hover {
    color: #e78588;
    text-decoration: none;
}
.fa-arrow-right{
    font-size: 14px;
    font-weight: normal;
}
.heading-3 h3:after {
    content: "";
    position: absolute;
    left: 22px;
    width: 70%;
    height: 4px;
    bottom: -15px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #ffbf22, #ff9c35);
}
.slider{
    position:relative
}
.dot-shape{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index:-1
}
.dot-shape img{
    width: 100px
}
.carousel-indicators li {
    width: 20px;
    height: 7px;
    border-radius: 12px;
    background-color: #b5b5b5;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
}

.carousel-indicators li.active {
    opacity: 1;
    width: 35px;
    height: 8px;
    border-radius: 12px;
    background-image: linear-gradient(45deg, #ff9c35, #ffbf22);

}

.carousel-item {
    padding: 20px 40px;
}

.buy-now-button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.buy-now-button:hover {
    background-color: #ff9c35;
}
.categories-area {
    padding: 80px 0 80px 0;
}

.categories-area h3 {
    font-size: 18px;
    padding: 20px;
}

.categories img {
    width: 100px;
}

.card img {
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.42);

}
.cat-box-1{
    box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.42);
    padding: 15px;
    width: 290px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.cat-box-2{
    box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.42);
    padding: 15px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
.card:hover {
    box-shadow: 0px 0px 30px 5px rgba(204, 204, 204, 0.1);
}
footer {
    text-align: center;
    padding: 10px;
    background-color:rgba(204, 204, 204, 0.31)
}